
    <div class='col-xs-6'>

    <%= f.text_field :first_name, :autofocused => true, :class => 'form-control', :placeholder => "First Name"  %>

    <%= f.text_field :last_name, :class => 'form-control', :placeholder => "Last Name"  %>

    <%= f.text_field :email, :class => 'form-control', :placeholder => "Email"  %>

    <%= f.text_field :home_number, :class => 'form-control', :placeholder => "Home Number"  %>

    <%= f.text_field :mobile_phone, :class => 'form-control', :placeholder => "Mobile Number"  %>

    <%= f.text_field :fax_number, :class => 'form-control', :placeholder => "Fax Number"  %>

    <%= f.text_field :street, :class => 'form-control', :placeholder => "Street Address"  %>

    <%= f.text_field :state, :class => 'form-control', :placeholder => "State"  %>

    <%= f.text_field :zip, :class => 'form-control', :placeholder => "Zip Code"  %>
    </div>
    <div class='col-xs-6'>
    <%= f.text_field :nationality, :class => 'form-control', :placeholder => "Nationality"  %>

    <%= f.text_field :languages, :class => 'form-control', :placeholder => "Languages Spoken"  %>

    <%= f.text_field :years, :class => 'form-control', :placeholder => "Years in US"  %>

    <%= f.text_area :notes, :class => 'form-control', :required => false, :placeholder => "Notes/Comments" %>

    <%= f.text_field :hha, :class => 'form-control', :placeholder => "HHA Number"  %>

    <%= f.label "English (1 = bad, 9 = fluent)"%>
    <%= f.select :english, 1..9%> <br />

    <%= f.label "Has A Car?" %>
    <%= f.check_box :car, {}, true, false %> <br />

    <%= f.label "Has Driver License?" %>
    <%= f.check_box :driver_license, {}, true,false %> <br />
    </div>


