<!-- Home Page -->
<div id="home" class="page color-1">
  <div class="inner-page">
    <h2 style="margin-left: 10%; margin-right: 10%">
      We provide friendly, qualified, experienced and caring home health care aides and cleaning services for the elderly, disabled or ill.
    </h2>
  </div>
  <div class="row inner-page">
    <div class="col-md-8 col-md-push-2 lazy-container">
      <%= image_tag "pixel.png", :data => {:original => "/assets/home_page.jpg"}, :class => 'lazy' %>
    </div>
    <!--<div class="col-md-4 col-md-pull-8">-->
      <!--<br/>-->
      <!--&lt;!&ndash;<a href="#features" title="Check out more freatures!" class="scroll btn btn-primary btn-centered"><i class="icon-caret-down"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;Learn more</a>&ndash;&gt;-->
    <!--</div>-->
  </div>
</div> <!-- /#home -->

<!-- Sign up -->
<div class="sign-up color-2 visible-lg">
  <div class="row inner-page">
    <div class="col-md-12">
      <h4 class="pull-left">For More About Our Company Continue Scrolling Or Click "Scroll Down"</h4>
      <a href="#features" class="scroll btn btn-primary pull-right" title="Check out more freatures!"><i class="icon-caret-down"></i>
        Scroll down</a>
    </div>
  </div>
</div> <!-- /.sign-up -->

<!-- Feature page-->
<div id="features" class="page color-4">
  <div class="inner-page">
    <h2 class="page-headline">Our Mission</h2>
  </div>

  <div class="inner-page row">
    <ul class="features list-inline">
      <li>
        <h3><i class="icon-heart"></i> Compassion</h3>

        <p>At Olga's Home Helpers we understand that you want the best for your loved ones. Caring for an aging parent or a family member can sometimes be challenging. Allow Olga's Home Helpers to eliminate the worry and provide the in-home service your loved ones need and deserve.</p>
      </li>
      <li>
        <h3><i class="icon-smile"></i> Assistance</h3>

        <p>At Olga's Home Helpers, we strive to assist our patients and their families in achieving and maintaining the highest level of independence. We are committed to delivering quality care and compassionate support at the comfort of your own home. Our non-medical, friendly aides will do everything to keep you and your loved ones safe, peaceful and comfortable.</p>
      </li>
      <li>
        <h3><i class="icon-group"></i> For everyone.</h3>

        <p>
          <strong>Olga's Home Helpers</strong> is not a "one size fits all" organization. We have a variety of personalized packages as well as a wide-selection of home health aides in order to insure that the patient is getting the service they desire.</p>
      </li>
    </ul>
  </div>

  <div class="row inner-page">
    <!--<div class="col-md-6 lazy-container">-->
      <!--<%= image_tag "pixel.png", :data => {:original => "/assets/FeedElderly.jpg" }, :style=>"width: 500px; padding-left:55px", :class => 'figurette lazy' %>-->
    <!--</div>-->
    <!--<div class="col-md-6">-->
      <!--<h3><strong>Home Health Aid Services Include:</strong></h3>-->
      <!--<ul class="list-wide" style="padding-left: 0px">-->
        <!--<li><i class="icon-check"></i> We provide friendly, qualified, experienced and caring home health care aides for the elderly, disabled or ill.-->
        <!--</li>-->
        <!--<li><i class="icon-check"></i> Our friendly aides will provide our services at your home on a live-in or live-out basis.</li>-->
        <!--<li><i class="icon-check"></i> Our European women are fluent in English, as well as other languages including Ukrainian, Polish and Russian. We can interpret and translate for you.</li>-->
        <!--<li><i class="icon-check"></i> We can provide transportation, accompany and assist you with shopping and other chores or we can food shop for you.</li>-->
        <!--<li><i class="icon-check"></i> We will perform routine housekeeping tasks such as cooking, laundry and light cleaning.</li>-->
        <!--<li><i class="icon-check"></i> We will gladly accommodate your needs and schedule from occasional visits to full 24 hour, 7 days per week care.</li>-->
      <!--</ul>-->
      <div class="col-md-5 col-md-offset-4">
      <a href="#assets" class="scroll btn btn-primary btn-centered"><i class="icon-caret-down"></i> More Services</a>
      </div>
    </div>

  </div>

  <!-- Video -->
  <!--<div class="row inner-page">-->
    <!--<div class="col-md-6 col-md-push-6">-->
      <!--<div class="btn-container figurette">-->
        <!--<%= image_tag "pixel.png", :data => {:original => "/assets/video.png"}, :class => 'lazy' %>-->
        <!--<a class="lightbox iframe btn-play" target="_blank" href="http://vimeo.com/61693087"><i class="icon-play"></i></a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-md-pull-6">-->
      <!--<ul class="big-list">-->
        <!--<li><i class="icon-ok"></i> Always latest bootstrap</li>-->
        <!--<li><i class="icon-play"></i> Responsive video</li>-->
        <!--<li><i class="icon-resize-full"></i> Adaptive, smart lightbox</li>-->
        <!--<li><i class="icon-desktop"></i> All modern browsers supported</li>-->
      <!--</ul>-->
      <!--<br/>-->
      <!--<a href="#assets" class="scroll btn btn-primary btn-centered"><i class="icon-caret-down"></i> Even more-->
        <!--features</a>-->
    <!--</div>-->
  <!--</div>-->
</div> <!-- /#features -->

<!-- Assets page -->
<div id="assets" class="page color-3">
  <div class="inner-page">
    <h2 class="page-headline">Home Health Care Services</h2>
  </div>

  <!-- Vectors -->
  <div class="row inner-page">
    <div class="col-md-6 lazy-container">
      <%= image_tag "pixel.png", :data => {:original => "/assets/FeedElderly.png"}, :class => 'figurette lazy' %>
    </div>
    <div class="col-md-6">
      <ul class="list-wide" style="padding-left: 0px">
        <li><i class="icon-check"></i> We provide friendly, qualified, experienced and caring home health care aides for the elderly, disabled or ill.
        </li>
        <li><i class="icon-check"></i> Our friendly aides will provide our services at your home on a live-in or live-out basis.</li>
        <li><i class="icon-check"></i> Our European women are fluent in English, as well as other languages including Ukrainian, Polish and Russian. We can interpret and translate for you.</li>
        <li><i class="icon-check"></i> We can provide transportation, accompany and assist you with shopping and other chores or we can food shop for you.</li>
        <li><i class="icon-check"></i> We will perform routine housekeeping tasks such as cooking, laundry and light cleaning.</li>
        <li><i class="icon-check"></i> We will gladly accommodate your needs and schedule from occasional visits to full 24 hour, 7 days per week care.</li>
      </ul>
    </div>
  </div>
  <!-- /vectors -->

  <!--<hr>-->

  <!--&lt;!&ndash; Big laptop &ndash;&gt;-->
  <!--<div class="row inner-page">-->
    <!--<div class="col-md-offset-1 col-md-10">-->
      <!--<div class="lazy-container lazy-large btn-container loaded">-->
        <!--<div class="btn-container">-->
          <!--<%= image_tag "pixel.png", :data => {:original => "/assets/laptop-blue@2x.png"}, :class => 'figurette lazy' %>-->
          <!--<a href="/assets/superman.jpg" class="lightbox btn-play" target="_blank">-->
            <!--<i class="icon-zoom-in"></i>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!-- Clients -->
  <!--<div class="clients color-1">-->
    <!--<div class="inner-page">-->
      <!--<h2 class="page-headline">Who's using stories.</h2>-->
    <!--</div>-->
    <!--<div class="inner-page row">-->
      <!--<ul class="clients list-inline">-->
        <!--<li><i class="icon-globe"></i> Earth</li>-->
        <!--<li><i class="icon-heart"></i> Love</li>-->
        <!--<li><i class="icon-leaf"></i> Leaves</li>-->
        <!--<li><i class="icon-cloud"></i> Clouds</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
</div> <!-- /#assets -->

<!-- About page -->
<div id="about" class="page color-4">
  <div class="inner-page">
    <h2 class="page-headline">Jobs</h2>
  </div>
  <div class="row inner-page">
    <div class="col-md-6">
      <h3><b>Become a Caretaker</b></h3>
      <p>We are continuously searching for new, qualified agents to serve Olga's Home Helpers. If you are interested in being part of either the Home Health Care Service or the Cleaning Service please&nbsp;<a href="#contact" class="scroll">Contact Us</a>.</p>
      <p>We offer both live-in and live-out opportunities as well a cleaning service.</p>
      <p>Olga's Home Helpers is a non medical agency, so a health care license is not required.</p>
      <p>We are looking for friendly, compassionate employees, preferably with some passed experience. If you are interested in becoming an employee of Olga's Home Helpers, feel free to&nbsp;<a href="#contact" class="scroll">Contact Us</a>&nbsp;and we will gladly schedule an interview.</p>

    </div>
    <div class="col-md-6">
      <h3><b>Find a Caretaker</b></h3>


    </div>
  </div>

  <!--&lt;!&ndash; Team &ndash;&gt;-->
  <!--<div class="row inner-page team">-->
    <!--<div class="col-md-6">-->
      <!--<%= image_tag "pixel.png", :data => {:original => "/assets/cookies2.png"}, :class => 'pull-left' %>-->
      <!--<h4>Jane Doe</h4>-->

      <!--<p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora-->
        <!--quaeritis.</p>-->
      <!--<ul>-->
        <!--<li><i class="icon-home"></i> <a href="prettystrap.com">http://prettystrap.com</a>-->
        <!--</li>-->
        <!--<li><i class="icon-envelope-alt"></i> <a href="info@email.com">info@email.com</a>-->
        <!--</li>-->
        <!--<li class="social">-->
          <!--<a href="#about"><i class="icon-facebook-sign"></i></a>-->
          <!--<a href="#about"><i class="icon-twitter"></i></a>-->
          <!--<a href="#about"><i class="icon-github-sign"></i></a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-md-6 team2">-->
      <!--<%= image_tag "pixel.png", :data => {:original => "/assets/cookies.pngs"}, :class => 'pull-left' %>-->
      <!--<h4>John Doe</h4>-->

      <!--<p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora-->
        <!--quaeritis.</p>-->
      <!--<ul>-->
        <!--<li><i class="icon-home"></i> <a href="prettystrap.com">http://prettystrap.com</a>-->
        <!--</li>-->
        <!--<li><i class="icon-envelope-alt"></i> <a href="info@email.com">info@email.com</a>-->
        <!--</li>-->
        <!--<li class="social">-->
          <!--<a href="#about"><i class="icon-facebook-sign"></i></a>-->
          <!--<a href="#about"><i class="icon-twitter"></i></a>-->
          <!--<a href="#about"><i class="icon-github-sign"></i></a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div> &lt;!&ndash; /#about &ndash;&gt;-->

<!-- Contact page -->
<div id="contact" class="page color-2">
  <div class="inner-page">
    <h2 class="page-headline">Get in touch and stay updated</h2>
  </div>
  <div class="row inner-page contact">
    <div class="col-md-6">
      <h3>What's on your mind?</h3>

      <form id="contact-form">
        <textarea rows="6" class="form-control" placeholder="Your story"></textarea>
        <input type="text" class="form-control" placeholder="your@e-mail.com">
        <input type="text" class="form-control" placeholder="Name">
        <button class="btn btn-primary btn-centered">Contact us</button>
      </form>
    </div>
    <div class="col-md-6">
      <div class="btn-container centered lazy-container text-center">
        <%= image_tag "pixel.png", :data => {:original => "/assets/map.png"}, :class => 'figurette lazy' %>
        <a class="lightbox iframe  btn-map" target="blank" title="Open google maps" href="https://maps.google.com/maps?q=Stationsplein,+1012+Centrum,+Amsterdam,+Noord-Holland,+The+Netherlands&amp;hl=en"><i class="pull-left icon-map-marker"></i>

          <div>Stationsplein, 1012 AB,<br/>Amsterdam,<br/> The Netherlands</div>
        </a>
      </div>
    </div>
  </div>
</div> <!-- /#contact -->

<!-- Newsletter -->
<div class="newsletter color-1">
  <div class="inner-page row">
    <div class="col-md-4">
      <h4>
        <strong>Be cool</strong>, subscribe to get our latest news</h4>
    </div>
    <div class="col-md-6">
      <input type="email" placeholder="your@e-mail.com" name="EMAIL" class="subscribe">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary pull-right btn-block">Subscribe</button>
    </div>
  </div>
</div> <!-- /newsletter -->

<script>
$(function() {
jQuery.history.listen()
$('.nav .scroll').click(function() {
$.history.push($(this).attr('href'));
});
});
</script>

<script>
    setTimeout(function() {
        $("#flash_notice").fadeOut().empty();
    }, 2000);
</script>